{{#if canShowOrder }}
  {{#with (changeset selectedOrder OrderValidations ) as |changesetObj|}}
    <div class="preview-form__wrapper">
      <Forms::PreviewOrder
        @changesetObj={{changesetObj}}
        @cancel={{action "cancelEdit"}}
        @managers={{managers}}
        @customers={{customers}}
        @order={{selectedOrder}}
        @b_units={{b_units}}
      />
    </div>
  {{/with}}
{{/if}}
{{#if didDelete}}
  <McModal
    @canShowModal={{didDelete}}
    @perform={{action "confirmDelete" selectedOrder}}
    @message="Are you sure you want to Remove this item?"
    @isPerforming={{isSaving}}
  />
{{/if}}
<ContentPane
  @aside={{help}}
>
  <McWrapper
    @heading="Orders"
    @role="Add order"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}
  >
  <div class="text-right">
    <div class="m-b-15">
      <Forms::Sort
        @options={{sortOptions}}
        @perform={{action "sortItem"}}
      />
    </div>
  </div>
  <div class="inline-wrapper small caption">Showing {{model.length}} 
      oders created by
    <Forms::FilterOptions
      @didClick={{action "didInit" }}
      @didSelectItem={{action "didSelectItem"}}
      @title={{userTitle}}
      @options={{users}}
      @type="user"
      @key="fullname"
      @isLoading={{isLoading}}
      @hasDefault={{false}}
    />
      for
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @title={{customerTitle}}
      @type="customer"
      @options={{customers}}
      @key="name"
      @isLoading={{isLoading}}
      @hasDefault={{false}}
    />
      managed by
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="account_manager"
      @key="full_name"
      @options={{managers}}
      @title={{managerTitle}}
      @isLoading={{isLoading}}
      @hasDefault={{false}}
    />
    in
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="currency"
      @key="name"
      @options={{currencies}}
      @title={{currencyTitle}}
      @isLoading={{isLoading}}
      @hasDefault={{false}}
    />
    <span>You can</span> 
    <span role="button" class="clickable primary action" onclick={{action "resetFilters"}}>
      reset all filters
    </span>
  </div>
  <div class="mc-divider m-b-15"></div>
  {{#each model as |order| }}
    {{#unless (get order "is_deleted")}}
      <OrderCard
        @order={{order}}
        @didSelect={{action "didSelectOrder" order}}
        @didDelete={{action "didDelete" order}}
      />
    {{/unless}}
    <div class="mc-divider m-b-15"></div>
  {{/each}}
  {{#infinity-loader 
    infinityModel=model
    hideOnInfinity=true
  }}
    <div class="ui active centered inline large loader"></div>
  {{/infinity-loader}}
  </McWrapper>
</ContentPane>


