{{#if canShowOrder }}
  {{#with (changeset selectedOrder OrderValidations ) as |changesetObj|}} 
    <div class="edit-form__wrapper">
      <Forms::EditOrder
        @changesetObj={{changesetObj}}
        @cancel={{action "cancelEdit"}}
        @managers={{managers}}
        @customers={{customers}}
        @order={{selectedOrder}}
      />
    </div>
  {{/with}}
{{/if}}
<Layout 
    @aside={{help}}
    @heading={{orders}}
>
  <McWrapper
    @heading="Orders"
    @role="Add order"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}
  >
  <div class="text-right">
    <div class="m-b-15">
      <Forms::Sort
        @options={{sortOptions}}
        @perform={{action "sortItem"}}
      />
    </div>
  </div>
  <div class="inline-wrapper">Showing all orders
      created by
    <Forms::FilterOptions
      @didClick={{action "didInit" }}
      @didSelectItem={{action "didSelectItem"}}
      @title={{userTitle}}
      @options={{users}}
      @type="user"
      @key="fullname"
      @isLoading={{isLoading}}
    />
      for
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @title={{customerTitle}}
      @type="customer"
      @options={{customers}}
      @key="name"
      @isLoading={{isLoading}}
    />
      managed by
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="account_manager"
      @key="full_name"
      @options={{managers}}
      @title={{managerTitle}}
      @isLoading={{isLoading}}
    />
    in
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="currency"
      @key="name"
      @options={{currencies}}
      @title={{currencyTitle}}
      @isLoading={{isLoading}}
    />
  </div>
  <div class="mc-divider m-b-15"></div>
  {{#each model as |order| }}
    <OrderCard
      @order={{order}}
      @didSelect={{action "didSelectOrder" order}}
    />
    <div class="mc-divider m-b-15"></div>
  {{/each}}
    <button classs="ui button default" onclick={{action "previous"}}>Previous</button>
    <button classs="ui button primary" onclick={{action "next"}}>Next</button>
  </McWrapper>
</Layout>

{{outlet}}