{{#if canShowOrder }}
  {{#with (changeset selectedOrder OrderValidations ) as |changesetObj|}}
    <div class="edit-form__wrapper">
      <Forms::PreviewOrder
        @changesetObj={{changesetObj}}
        @cancel={{action "cancelEdit"}}
        @managers={{managers}}
        @customers={{customers}}
        @order={{selectedOrder}}
        @id={{order.id}}
        @b_units={{b_units}}
      />
    </div>
  {{/with}}
{{/if}}
{{#if didDelete}}
  <McModal
    @canShowModal={{didDelete}}
    @perform={{action "confirmDelete" selectedOrder}}
    @message="Are you sure you want to delete this item?"
  />
{{/if}}
<Layout 
  @aside={{help}}
  @heading={{orders}}
>
  <McWrapper
    @heading="Orders"
    @role="Add order"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}
  >
  <div class="text-right">
    <div class="m-b-15">
      <Forms::Sort
        @options={{sortOptions}}
        @perform={{action "sortItem"}}
      />
    </div>
  </div>
  <div class="inline-wrapper">Showing all orders
      created by
    <Forms::FilterOptions
      @didClick={{action "didInit" }}
      @didSelectItem={{action "didSelectItem"}}
      @title={{userTitle}}
      @options={{users}}
      @type="user"
      @key="fullname"
      @isLoading={{isLoading}}
    />
      for
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @title={{customerTitle}}
      @type="customer"
      @options={{customers}}
      @key="name"
      @isLoading={{isLoading}}
    />
      managed by
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="account_manager"
      @key="full_name"
      @options={{managers}}
      @title={{managerTitle}}
      @isLoading={{isLoading}}
    />
    in
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @type="currency"
      @key="name"
      @options={{currencies}}
      @title={{currencyTitle}}
      @isLoading={{isLoading}}
    />
  </div>
  <div class="mc-divider m-b-15"></div>
  {{#each model as |order| }}
    <OrderCard
      @order={{order}}
      @didSelect={{action "didSelectOrder" order}}
      @didDelete={{action "didDelete" order}}
    />
    <div class="mc-divider m-b-15"></div>
  {{/each}}
    <div class="text-right">
      <button class="ui button default" onclick={{action "previous"}}>Previous</button>
      <button class="ui button blue" onclick={{action "next"}}>Next</button>
    </div>
  </McWrapper>
</Layout>

{{outlet}}