<Layout 
    @aside={{help}}
    @heading={{orders}}
>
  <McWrapper
    @heading="Orders"
    @role="Add order"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}>

    <span>Found {{model.length}} order(s)</span>
    <div class="mc-divider m-b-15"></div>
    {{#each model as |order| }}
      <OrderCard
        @order={{order}}
      />
      <div class="mc-divider m-b-15"></div>
    {{/each}}
  </McWrapper>
</Layout>

{{outlet}}