{{#if model}}
  {{#with (changeset model OrderValidations) as |changesetObj|}}
    {{#if didUpdateModel}}
      <McModal
        @canShowModal={{didUpdateModel}}
        @message="Are you sure you want to save the changes you made to this order?"
        @perform={{action "confirmUpdate"}}
        @isPerforming={{isUpdating}}
        @confirmTitle="Yes"
      />
    {{/if}}
    <ContentPane
      @aside={{help}}
    >
      <div class="ui edit-form p-b-80">
          <McForm
            @heading={{concat "Edit supplier order for " (changeset-get model "manufacturer_id.name")}}
            @role="Edit order"
            @didDecline={{action "cancel"}}
            @isSaving={{isSaving}}
            @didPerform={{action "editOrder" changesetObj}}
          >
            <div class="mc-divider">Order Details</div>
            <div class="form-group">
              <div class="inline field">
                <label for="company name">Order Date 
                  <span class="required m-l-5" >*</span>
                </label>
                <FormFields::Datepicker
                  @changeset={{changesetObj}}
                  @property="order_date"
                  @classNames="figures"
                />
              </div> 
              <div class="ui right labeled input inline field">
                <label for="company name">Order Amount
                  <span class="required m-l-5" >*</span> 
                </label>
                <FormFields::Amount
                  @placeholder="Amount"
                  @amntChangeset={{changesetObj}}
                  @property="amount"
                  @classNames=""
                  @didValidate={{action "validate" changesetObj}}
                  @generalChangeset={{changesetObj}}
                />
              </div>
              <div class="mc-divider faint"></div>
              <div class="form-groups m-t-20 m-b-20">
                <div class="ui faint label medium">
                  This order was created for {{changeset-get model "manufacturer_id.name"}}
                </div>
              </div> 
            </div>
            <div class="mc-divider">Comments <span class="faint" >( Do you have any comments? )</span> </div>
            <div class="form-group">
              <div class="">
                <FormFields::Textarea
                  @columns=""
                  @rows={{5}}
                  @property="comment"
                  @changeset={{changesetObj}}
                  @placeholder="Enter the description"
                />
              </div>
            </div> 
            <div class="mc-divider">Order description <span class="faint" >( what is the order about? )</span> </div>
            <div class="form-group">
              <div class="">
                <FormFields::Textarea
                  @columns=""
                  @rows={{5}}
                  @property="description"
                  @changeset={{changesetObj}}
                  @placeholder="Enter the description"
                />
              </div>
            </div> 
          </McForm>
      </div>
    </ContentPane>
  {{/with}}
{{/if}}