{{#if didAttemptDelete }}
  <McModal
    @canShowModal={{ didAttemptDelete }}
    @perform={{action "confirmDelete"}}
    @message="Are you sure you want to delete this company?"
    @isPerforming={{isSaving}}
  />
{{/if}}
{{#if canPreviewCompany}}
  <div class="preview-form__wrapper">
    <Forms::PreviewCompany
      @cancel={{action "cancelPreview"}}
    />
  </div>
{{/if}}
<ContentPane
  @aside={{help}}
>
  <McWrapper
    @heading="Companies"
    @role="Add order"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "addCompany" }}
  >
  <CompanyListView 
    @recentCompanies={{model}}
    @allCompanies={{model}}
  >
  {{#each model as |company|}}
    {{#unless (get company "is_deleted")}}
      <CompanyListViewItem
        @company={{company}}
        @delete={{action "didDelete" company}}
      />
    {{/unless}}
  {{/each}}
  </CompanyListView>
  </McWrapper>
</ContentPane>
