<div class="full-height grid grid-center">
  <div class="user-form__wrapper">
    <div class="user-form__caption">
      <img src="/highrise_logo.png" alt="" class="ui centered medium image">
    </div>
    <div class="user-form__body">
      <div class="user-form__header text-center">
        <h3>Create a new Account </h3>
      </div>
      <form class="ui form">
        {{#with (changeset model UserValidator) as |changeset|}}
          <div class="field">
            <label for="">First name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your your first name"
              @didValidate={{action "validate" changeset}}
              @property="firstname"
            />
          </div>
          <div class="field">
            <label for="">Last name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your last name"
              @didValidate={{action "validate" changeset}}
              @property="lastname"
            />
          </div>
          <div class="field">
            <label for="">Email</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your email"
              @didValidate={{action "validate" changeset}}
              @property="email"
            />
          </div>
          <div class="field">
            <label for="">Company name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Which company are you from?"
              @didValidate={{action "validate" changeset}}
              @property="name"
            />
          </div>
          <div class="field">
            <label for="">Password</label>
            <FormFields::Password 
              @changeset={{changeset}} 
              @placeholder="Enter your password"
              @onChange={{action "validate" changeset}}
              @property="password"
            />
          </div>
          <div class="field">
            <label for="">Confirm Password</label>
            <FormFields::Password 
              @changeset={{changeset}} 
              @placeholder="Confirm your password"
              @onChange={{action "validate" changeset}}
              @property="password_confirmation"
            />
          </div>
          <div class="field form-actions text-right">
            {{#link-to "password.reset"}}
              Forgot password
            {{/link-to}}
          </div>
          <FormFields::Submit
            @title="Create New Account"
            @classess="ui large green fluid submit button {{if isSaving "loading"}}"
            @perform={{action "createOwner" changeset}}
          />
        {{/with}}
      </form>
    </div>
  </div>
</div>