{{#if didCreateOrder}}
  <McModal
    @canShowModal={{ didCreateOrder }}
    @perform={{action "saveOrder"}}
    @message="Are you sure you want to save this order?"
  />
{{/if}}
<ContentPane 
  @aside={{help}}>
  {{#with (changeset model.supplier_order OrderValidations) as |changesetObj|}} 
    <McForm
      @heading="New supplier order"
      @role="Save"
      @didPerform={{action "createNewOrder" changesetObj}}
      @didDecline={{action "cancel" changesetObj}}
      @isSaving={{isSaving}}>
      <div class="mc-divider caption"> <h4>Supplier order Details</h4> </div>
      <div class="form-group">
        <div class="inline field">
          <label for="Customer">Order #
            <span class="required m-l-5">*</span>
          </label>
          {{#if (get changesetObj "order_id")}}
            <div class="ui input label caption__medium figures text-right">
              {{get changesetObj "order_id"}}
            </div>
          {{/if}}
        </div>
        <div class="inline field">
          <label for="company name">Order Date 
            <span class="required m-l-5">*</span> 
          </label>
          <FormFields::Datepicker
            @changeset={{changesetObj}}
            @property="order_date"
            @classNames="figures"
          />
        </div>
        <div class="ui right labeled input inline field">
          <label for="company name">Order Amount
            <span class="required m-l-5" >*</span> 
          </label>
          <FormFields::Amount
            @placeholder="Amount"
            @amntChangeset={{changesetObj}}
            @property="amount"
            @classNames=""
            @didValidate={{action "validate" changesetObj}}
            @generalChangeset={{changesetObj}}
            @options={{currencies}}
            @type="text"
          />
        </div>
        <div class="inline field">
          <label for="Customer">Who is the supplier?
            <span class="required m-l-5">*</span>
          </label>
          <FormFields::Dropdown 
            @options={{model.suppliers}}
            @changeset={{changesetObj}}
            @property="supplier_id"
            @key="name"
            @classNames="text-right"
          />
        </div>
      </div>
      <div class="mc-divider caption">
        Order description
        <span class="faint">
          (what is the order about?)
        </span> 
      </div>
      <div class="form-group">
        <div class="">
          <FormFields::Textarea
            @columns=""
            @rows={{5}}
            @property="description"
            @changeset={{changesetObj}}
            @placeholder="Enter the description"
          />
        </div>
      </div>
      <div>
        <FormFields::Checkbox
        @label="Has this order been delivered?"
        @changeset={{changesetObj}}
        @property={{status}}
        @perform={{action "didChanageStatus" changesetObj}}
        @check={{didChangeOrderStatus}}
        />
      </div>
    </McForm>
  {{/with}}
</ContentPane>