<div class="inline-wrapper" role="button" {{action "didClick" type}}>
  <div class="ui mc-popup button" data-content="" data-position="">
    <span class={{concat "m-l-5 filter-title " classNames}} role="button" > {{title}} </span>
  </div>
  <div class="ui popup"> 
    <span class={{concat (if isLoading "ui active loader ") "faint"}}></span>
    <div class="inline field filter">
      <ul style="list-style: none">
       {{#if hasDefault}}
         <li role="button" onclick={{action "setDefault"}}>{{default}}</li>
       {{/if}}
        {{#each options as |op|}}
          <li role="button" {{action "didSelectItem" op type }}>{{get op key}} </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>