<div class="mc__form">
  <div class="mc-form__header">
    <div class="header-caption ui form">
      <h3>{{heading}} </h3>
    </div>
  </div>
  <div class="mc-form__body">
    <form action="" class="ui form">
      {{yield}}
    </form>
  </div>
  <div class="mc-form__footer ">
    <div class="button-group inline fields">
      <div class="inline" >
        <FormFields::Submit
          @classess="ui large default fluid submit button"
          @title="Cancel"
          @perform={{action "decline"}} 
        />
      </div>
      <div class="inline">
        <FormFields::Submit
          @classess="ui large green fluid submit button"
          @title={{role}}
          @perform={{action "perform" }}
        />
      </div>
    </div>
  </div>
</div>