<div class="mc-form">
  <div class="mc-form__header">
    <div class="header-caption ui form">
      <h3 class="">{{heading}}</h3>
    </div>
  </div>
  <div class="mc-form__body">
    <form action="" class="ui form">
      {{yield}}
    </form>
  </div>
  <div class="mc-form__footer ">
    <div class="button-group inline fields {{unless canPerform "single"}}">
      <div class="inline" >
        <FormFields::Submit
          @classess="ui large default fluid submit button"
          @title="Cancel"
          @perform={{action "decline"}}
        />
      </div>
      {{#if canPerform}}
        <div class="inline">
          <FormFields::Submit
            @classess="ui large green fluid submit button {{if isSaving "loading disabled"}}"
            @title={{role}}
            @perform={{action "perform" }}
          />
        </div>
      {{/if}}
    </div>
  </div>
</div>