<div class="grid order-label__wrapper">
  <div class="grid columns-2__14 grid-gap__10">
    <div class="ui circular labels">
      <span class="ui yellow label">{{user.initials}} $</span>
    </div>
    <div class="order-item grid columns-15__1">
      <div>
        <div class="caption inline">
          <p> 
            {{#link-to "supplier-order"}}
              {{changeset-get order "order_id.currency_id.name"}} <h2>{{order.amount}}</h2>
            {{/link-to}}
            <span>
              <span>worth order created for</span>
              <LinkTo @route="user">
                {{order.manufacturer_id.name}}
              </LinkTo>
              on {{moment-format order.date "ddd, MMM d YYYY"}}
            </span>
          </p> 
        </div>
        <div class="m-b-10"> 
          <span>This order was created by 
            <LinkTo @route="user">
              {{changeset-get order "order_id.user_id.fullname"}}
            </LinkTo>
            and
          </span>
          <span class="">
            {{#link-to 'user'}}
              {{changeset-get order "order_id.account_manager_id.full_name"}}
            {{/link-to}}
            is the manager in charge of the order.
          </span>
        </div>
        <div class="caption__small">
          <div>{{order.summary}}</div>
          <div>{{order.comments}}</div>
        </div>
      </div>
      <div class="action-wrapper">
        <div class="success m-r-20" role="button" {{action "editItem"}}>
          {{svg-jar "list" width="18px" height="18px"}}
        </div>
        <div class="danger" role="button" onclick={{action "didDelete"}}>
          {{svg-jar "trash" class="danger" width="18px" height="18px"}}
        </div>
      </div>
    </div>
  </div>
</div>