<div class="full-height grid grid-center">
  <div class="user-form__wrapper">
    <div class="user-form__caption text-center">
      <img src="/highrise_logo.png" alt="" class="ui centered medium image">
    </div>
    <div class="text-center p-t-20 p-b-20">
      Used Macosa before? 
      <a href="/">Log in</a>
    </div>
    <div class="user-form__body">
      <div class="user-form__header text-center">
        <h3>Join Apotica on Macosa</h3>
      </div>
      <form class="ui form">
        {{#with (changeset model UserValidator) as |changeset|}}
          <div class="field">
            <label for="">First name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your your first name"
              @onChange={{action "validate" changeset}}
              @property="firstname"
            />
          </div>
          <div class="field">
            <label for="">Last name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your last name"
              @onChange={{action "validate" changeset}}
              @property="lastname"
            />
          </div>
          <div class="field">
            <label for="">Email</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Enter your email"
              @onChange={{action "validate" changeset}}
              @property="email"
            />
          </div>
          <div class="field">
            <label for="">Company name</label>
            <FormFields::Input 
              @changeset={{changeset}} 
              @placeholder="Which company are you from?"
              @onChange={{action "validate" changeset}}
              @property="name"
            />
          </div>
          <div class="field">
            <label for="">Create a password</label>
            <FormFields::Password 
              @changeset={{changeset}} 
              @placeholder="Enter your password"
              @onChange={{action "validate" changeset}}
              @property="password"
            />
          </div>
          <div class="field">
            <label for="">Confirm password</label>
            <FormFields::Password 
              @changeset={{changeset}} 
              @placeholder="Confirm your password"
              @onChange={{action "validate" changeset}}
              @property="confirmPassword"
            />
          </div>
          <FormFields::Submit
            @title="OK, Let's go"
            @classess="ui large green fluid button"
            @perform={{action "createNewUser" changeset}}
          />
        {{/with}}
      </form>
    </div>
  </div>
</div>