<div class="amount figures ui left labeled input {{classNames}}">
  <FormFields::Dropdown
    @placeholder="USD"
    @options={{options}}
    @property="currency_id"
    @changeset={{generalChangeset}}
    @default={{default}}
    @key="name"
  />
  <FormFields::Input
    @property={{property}}
    @placeholder={{placeholder}}
    @type={{type}}
    @changeset={{amntChangeset}}
    @classNames={{classNames}}
    @didValidate={{action "validate"}}
  />
</div>