<div class="amount figures ui left labeled input {{classNames}}">
  <FormFields::Dropdown
    @placeholder="GHC"
    @options={{options}}
    @property={{property}}
    @changeset={{changeObj}}
  />
  <FormFields::Input
    @property={{property}}
    @placeholder={{placeholder}}
    @type={{type}}
    @changeset={{changeObj}}
    @classNames={{classNames}}
    @didValidate={{action "validate"}}
  />
</div>