{{#if didAttemptDelete}}
  <McModal
    @canShowModal={{didAttemptDelete}}
    @perform={{action "confirmDelete" confirmDelete}}
    @message="Are you sure you want to delete this item?"
    @isPerforming={{isSaving}}
  />
{{/if}}
<ContentPane 
    @aside={{help}}>
  <McWrapper
    @heading="Users"
    @role="Send invite"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}>

    <span>Found {{model.length}} users</span>
    {{#each model as |user| }}
      {{#unless (get user "is_deleted")}}
        <div class="mc-divider m-b-15"></div>
        <UserLabel
          @user={{user}}
          @name={{user.fullname}}
          @email={{user.email}}
          @emailAlt="dashie@dropbox.com.macosa"
          @userImage="https://pbs.twimg.com/media/C1BQ_RmVEAE3ng4.jpg"
          @didCheckBox={{action "updateUser" user}}
          @check={{user.is_admin}}
          @didAttemptDelete={{action "didAttemptDelete" user}}
        />
      {{/unless}}
    {{/each}}
  </McWrapper>
</ContentPane>
