<Layout 
    @aside={{help}}>
  <McWrapper
    @heading="Users"
    @role="Send invite"
    @hasAction={{true}}
    @actionName={{title}}
    @perform={{action "perform" }}>

    {{#each model as |user| }}
      <div class="mc-divider m-b-15"></div>
      <UserLabel
        @name={{user.fullname}}
        @email={{user.email}}
        @emailAlt="dashie@dropbox.com.macosa"
        @userImage="https://pbs.twimg.com/media/C1BQ_RmVEAE3ng4.jpg"
        @didCheckBox={{action "updateUser" user}}
        @attemptDelete={{action "attemptDelete"}}
        @check={{user.is_admin}}
        @didAttemptDelete={{didAttemptDelete}}
        @didCancelDelete={{action "cancelDelete"}}
        @didDeleteUser={{action "deleteUser" user}}
        @didConfirmDelete={{action "destroyUser" user}}
      />
    {{/each}}
  </McWrapper>
</Layout>