<Layout 
    @aside={{help}}>
  <McWrapper
    @heading="Users"
    @role="Send invite">
      <div class="inline">
        <FormFields::Submit
          @classess="ui large default fluid button ellipse"
          @title={{title}}
          @perform={{action "perform" }}
        />
      </div>
    {{#each model as |user| }}
      <div class="mc-divider m-b-15"></div>
      <UserLabel
        @name="Dorcas Dashie"
        @email="dorcas@email.com"
        @emailAlt="dashie@dropbox.com.macosa"
        @userImage="https://pbs.twimg.com/media/C1BQ_RmVEAE3ng4.jpg"
        @didCheckBox={{action "updateUser" user}}
        @check={{check}}
      />
    {{/each}}
  </McWrapper>
</Layout>
