<div class="header-wrapper">
  <div class="ui segment">
    <div class="ui secondary menu ">
      <div class="right menu">
        <div class="right" style="margin-right: 20px; align-self:center">
          {{svg-jar "alarm" width="20px" height="20px"}}
        </div>
        <div class="ui icon top right pointing dropdown">
          {{svg-jar "user-options" width="30px" height="40px"}}
          <div class="menu">
            <div class="header icon-text">
              <span class="ui small green circular label"></span>
              <span><b>PATRICIA CRAIGER</b></span>
            </div>
            <div class="divider"></div>
            <div class="item">
              <div class="icon-text"> 
                <span>{{svg-jar "icon-user" width="20px" height="20px"}}</span>
                <span>Profile</span>
              </div>
            </div>
            <div class="item">
              <div class="icon-text"> 
                <span>{{svg-jar "new-user" width="20px" height="20px"}}</span>
                <span>New user</span>
              </div>
            </div>
            <div class="item">
              <div class="icon-text"> 
                <span>{{svg-jar "icon-user" width="20px" height="20px"}}</span>
                <span>All users</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="header icon-text">
              <span>{{svg-jar "cog" width="20px" height="20px"}}</span>
              <span>Preferences</span>
            </div>
            <div class="item">
              <div class="icon-text"> 
                <span>{{svg-jar "icon-user" width="20px" height="20px"}}</span>
                <span>Update Profile</span>
              </div>
            </div>
            <div class="item">
              <div class="icon-text"> 
                <span>{{svg-jar "icon-user" width="20px" height="20px"}}</span>
                <span>Remove Account</span>
              </div>
            </div>
            <div class="item footer action-highlight">
              <div class="icon-text"> 
                <span>{{svg-jar "logout" width="20px" height="20px"}}</span>
                <span>Logout</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>