<ContentPane
  @aside={{help}}
>
  <div class="content-pane notifications-main__content">
    <div class="caption mc-form__header header-caption">
      <div class="inline-wrapper big caption">
      <h3>Showing all recent activities created by 
        <Forms::FilterOptions
          @didClick={{action "didInit"}}
          @didSelectItem={{action "didSelectItem"}}
          @title={{userTitle}}
          @options={{users}}
          @type="user"
          @key="fullname"
          @isLoading={{isLoading}}
          @classNames="big"
          @hasDefault={{true}}
          @default="Everyone"
          @performDefault={{action "resetFilters"}}
        />
        using {{filterTitle}}.
      </h3>
      </div>
    </div>
    <div class="notification-body">
      {{#each model as |n|}}
        {{#if (not-eq null n)}}
          <Forms::ActivityCard
            @key={{get-key n.key}}
            @activity={{n}}
          />
        {{/if}}
      {{/each}}
      {{#infinity-loader 
        infinityModel=model
        hideOnInfinity=true
      }}
        <div class="ui active centered inline large loader"></div>
      {{/infinity-loader}}
    </div>
  </div>
</ContentPane>
