<div class="mclist-content__wrapper">
   <div class="text-right">Found 5 companies</div>
   <div class="green mc-divider thick">Recently added</div>
    {{#each recentCompanies as |rCompany|}}
      <div class="company-wrapper grid">
        <div>
          <h3 class="company-wrapper__header">{{rCompany.name}} </h3>
          <div class="company-details">
            <div>
              Phone: <span class="">{{rCompany.phone}} </span>
            </div>
            <div>
              email: <span class="">{{rCompany.email}} </span>
            </div>
            <div>
              website: <span class="">{{rCompany.website}} </span>
            </div>
          </div>
        </div>
        <div class="m-t-30">
          {{rCompany.type_id.name}}
        </div>
        <div class="text-right align-end">
          <div class="action company-actions">
            <span class="success edit">
              {{svg-jar "edit" height="20px" width="20px" class="red m-r-20"}}
            </span>
            <span class="danger">
              {{svg-jar "trash" height="20px" width="20px"}}
            </span>
          </div>
        </div>
      </div>
    {{/each}}
</div>
<div class="mc-divider thick">All</div>
<div class="mclist-content__wrapper">
  {{yield}}
</div>

      {{!-- <div class="action" >
        <span class="success m-b-10" role="button" {{action "editItem"}}>
          {{svg-jar "edit" width="18px" height="18px"}}
        </span>
        <span class="danger" role="button" onclick={{action "didDelete"}}>
          {{svg-jar "trash" class="danger" width="18px" height="18px"}}
        </span>
      </div> --}}