<div class="grid columns-13__3 user-label__wrapper">
  <div class="grid columns-2__14 grid-gap__10">
    <div class="ui circular labels">
      <span class="ui teal label">{{user.initials}} </span>
    </div>
    <div>
      <h2>{{name}}</h2>
      <span>{{email}}</span>
      <span>{{emailAlt}}</span>
    </div>
  </div>
  <div class="">
    {{#if (is-owner user.id user.owner_id)}}
      <div class="ui yellow label m-t-40 m-b-40">Account owner</div>
    {{/if}}
    {{#if (can-revoke-rights user.id currentUser.user.id user.owner_id)}}
      <FormFields::Checkbox
        @label="Admin"
        @check={{user.is_admin}}
        @perform={{action "didCheck"}}
        @disabled={{false}}
      />
      {{else}}
      <FormFields::Checkbox
        @label="Admin"
        @check={{check}}
        @perform={{action "didCheck"}}
        @disabled={{true}}
      />
    {{/if}}
    <FormFields::Checkbox
      @label="Regular user"
      @check={{true}}
      @perform={{action "didCheck"}}
      @disabled={{true}}
    />
    {{#if (can-revoke-rights user.id currentUser.user.id user.owner_id)}}
      <span>
        <a href="" class="danger" {{action "deleteUser"}}>Delete User</a>
      </span>
    {{/if}}
  </div>
</div>
