{{outlet}}
<Layout 
  @aside={{help}}>
  {{#with (changeset model.order OrderValidations ) as |changesetObj|}} 
    <McForm
      @heading="Create a new order"
      @role="Add this order"
      @didPerform={{action "createNewOrder" changesetObj}}
      @didDecline={{action "cancel" changesetObj}}
      @isSaving={{isSaving}}>
      <div class="mc-divider">Order Details</div>
      <div class="form-group">
        <div class="inline field">
          <label for="company name">Order Date 
            <span class="required m-l-5" >*</span> 
          </label>
          <FormFields::Datepicker
            @changeset={{changesetObj}}
            @property="date"
            @classNames="figures"
          />
        </div>
        <div class="ui right labeled input inline field">
          <label for="company name">Order Amount
            <span class="required m-l-5" >*</span> 
          </label>
          <FormFields::Amount
            @placeholder="Amount"
            @amntChangeset={{changesetObj}}
            @property="amount"
            @classNames=""
            @didValidate={{action "validate" changesetObj}}
            @generalChangeset={{changesetObj}}
            @options={{currencies}}
            @type="text"
          />
        </div>
        <div class="ui right labeled input inline field">
          <label for="company name">Profit 
            <span class="required m-l-5" >*</span> 
          </label>
          <FormFields::Amount
            @placeholder="Amount"
            @amntChangeset={{changesetObj}}
            @generalChangeset={{changesetObj}}
            @property="profit"
            @classNames=""
            @didValidate={{action "validate" changesetObj}}
            @options={{currencies}}
            @type="text"
          />
        </div>
        <div class="inline field">
          <label for="Compnany Type">Customer
            <span class="required m-l-5">*</span>
          </label>
          <FormFields::Dropdown 
            @options={{customers}}
            @changeset={{changesetObj}}
            @property="customer_id"
            @key="name"
            @classNames="text-right"
          />
        </div> 
        <div class="inline field">
          <label for="Compnany Type">Account Manager
            <span class="required m-l-5">*</span>
          </label>
          <FormFields::Dropdown 
            @options={{accountManagers}}
            @changeset={{changesetObj}}
            @property="account_manager_id"
            @classNames="text-right"
            @key="full_name"
          />
        </div> 
      </div>
      <div class="mc-divider">
        <div class="inline-flex">
          Business Units 
          <span class="required m-l-5 m-r-5">*</span>
          <Forms::Popup
            @title="New Business unit"
            @changesetObj={{businessUnitChangeset}}
            @placeholder="Enter Business unit"
            @initPopUp={{action "initPopUp"}}
          />
        </div>
      </div>
      <div class="form-group">
        <EmbeddedFormWrapper
          @left="Business Unit"
          @right="Amount"
          @classNames="m-l-20"
          @hasContent={{hasContent}}>
          {{#each businessUnitOrders as |b_order|}}
            <EmbeddedForm 
              @currency={{currencies}}
              @property="amount"
              @relatedBy="business_unit_id"
              @identifier="business_unit"
              @changesetObj={{b_order}}
              @generalChangeset={{changesetObj}}
              @validate={{action "validate" b_order}}
              @options={{businessUnits}}
              @key="name"
              @type="text"
            />
          {{/each}}
        </EmbeddedFormWrapper>
        <div role="button" class="" {{action "addBusinessUnit" changesetObj}}>
          {{svg-jar "plus" width="10px" height="10px" }} Add New 
        </div>
      </div>
      <div class="mc-divider">
        <div class="inline-flex">
          Manufacturers
          <span class="required m-l-5 m-r-5">*</span>
          <Forms::Popup
            @title="New manufacturers"
            @changeset={{changeObj}}
            @placeholder="Enter manufacturer"/>
        </div>
      </div>
      <div class="form-group">
        <EmbeddedFormWrapper
          @left="Manufacturer"
          @right="Amount"
          @classNames="m-l-20"
          @hasContent={{hasManufacturer}}>
          {{#each manufacturerOrders as |manufacturer|}}
            <EmbeddedForm 
              @currency={{currencies}}
              @property="amount"
              @relatedBy="manufacturer_id"
              @identifier="manufacturer"
              @changesetObj={{manufacturer}}
              @generalChangeset={{changesetObj}}
              @validate={{action "validate" manufacturer}}
              @options={{manufacturers}}
              @key="name"
              @type="text"
            />
          {{/each}}
        </EmbeddedFormWrapper>
        <div role="button" class="" {{action "addManufacturer" changesetObj}}>
          {{svg-jar "plus" width="10px" height="10px" }} Add New 
        </div>
      </div>
      <div class="mc-divider">Oder description <span class="faint" >( what is the order about? )</span> </div>
      <div class="form-group">
        <div class="">
          <FormFields::Textarea
            @columns=""
            @rows={{5}}
            @property="description"
            @changeset={{changesetObj}}
            @placeholder="Enter the description"
          />
        </div>
      </div>
    </McForm>
  {{/with}}
</Layout>
