{{yield}}
<div class="mclist-content__wrapper">
   <div class="text-right">Found 9 customers</div>
   <div class="green mc-divider thick">All Customers</div>
    {{#each customers as |cus|}}
      <div class="company-wrapper grid">
        <div>
          <h3 class="company-wrapper__header">{{cus.name}} </h3>
          <div class="company-details">
            Date: 4th June, 2019
          </div>
        </div>
        <div class="m-t-30">
          {{rCompany.type_id.name}}
        </div>
        <div class="text-right align-end">
          <div class="company-actions">
            {{svg-jar "edit" height="20px" width="20px" class="red m-r-20"}}
            {{svg-jar "trash" height="20px" width="20px"}}
          </div>
        </div>
      </div>
    {{/each}}
</div>