<div class="grid columns-1__15 user-label__wrapper {{if contact.isSelected "bg__opaque"}}">
  <div>
    {{!-- <input type="checkbox"> --}}
    <Input @id="admin-checkbox" @type="checkbox" @name="isAdmin" @checked={{this.isAdmin}} />
  </div>
  <div>
    <div class="grid columns-3__13 user-label__wrapper">
    <div class="ui circular label user-label">
      <img class="round-img" src={{userImage}} alt="">
    </div>
    <div>
      <h2>Alert Einstein {{name}}</h2>
      <span>eakbo23@gmail.com {{email}}</span>
      <span> {{emailAlt}} </span>
    </div>
    </div>
  </div>
</div>