<Layout
  @aside={{help}}
>
  <McForm
    @heading="Add new contact"
    @role="Save"
    @didPerform={{action "perform"}}
    @didDecline={{action "cancel"}}
    @isSaving={{isSaving}}
  >
  {{#each contacts as |contact index|}}
    <div class="m-t-20 m-b-20">
      <NewContact
        @companyOptions={{companies}}
        @number={{index-to-number index}}
        @changesetObj={{contact}}
        @perform={{action "deleteContactForm" contact}}
        @titles={{titles}}
        @didAddContact={{didAddContact}}
      />
    </div>
  {{/each}}
  <div {{action "newContactForm"}}>
    {{svg-jar "add-button-inside-black-circle" width="14px" height="14px"}} Add new contact
  </div>
  </McForm>
</Layout>
