<Layout 
    @aside={{help}}>
    {{#with (changeset model InvitationValidator (action "validate")) as |changesetObj|}}
      <McForm
        @heading="Invite new user"
        @role="Send invite"
        @isSaving={{isSaving}}
        @didPerform={{action "newInvitation" changesetObj}}>
        <div class="mc-divider">User Information</div>
        <div class="form-group">
          <div class="inline field">
            <label for="company name">First name</label>
            <FormFields::Input
              @placeholder="What is the name of the company?"
              @changeset={{changesetObj}}
              @property="firstname"
              @didValidate={{action "validate" changesetObj}}
            />
          </div>
          <div class="inline field">
            <label for="company name">Last name</label>
            <FormFields::Input
              @placeholder="What is the phone number for the company?"
              @property="lastname"
              @changeset={{changesetObj}}
              @didValidate={{action "validate" changesetObj}}
            />
          </div>
          <div class="inline field">
            <label for="company name">Email</label>
            <FormFields::Input
              @placeholder="What is the email for the company?"
              @changeset={{changesetObj}}
              @property="email"
              @didValidate={{action "validate" changesetObj}}
            />
          </div>
        </div>
        <div class="mc-divider">User Roles</div>
        <div class="form-group" >
          <div class="mc-form__roles">
            <FormFields::Checkbox
              @label="Regular user"
              @check={{true}}
              @disabled={{true}}
              @changeset={{changesetObj}}
            />
            <FormFields::Checkbox
              @label="Admin"
              @check={{is_admin}}
              @changeset={{changesetObj}}
              @property="is_admin"
              @perform={{action "setRole" changesetObj}}
            />
          </div>
        </div>    
      </McForm>
    {{/with}}
</Layout>
