{{#if didAttemptDelete}}
  <McModal
    @canShowModal={{didAttemptDelete}}
    @perform={{action "confirmDelete" confirmDelete}}
    @message="Are you sure you want to delete this item?"
    @isPerforming={{isSaving}}
  />
{{/if}}
{{#if canPreviewOrder}}
  <div class="preview-form__wrapper">
    <Forms::PreviewSupplierOrder
      @cancel={{action "cancelPreview"}}
      @didConfirmDelete={{action "confirmDelete"}}
      @order={{selectedOrder}}
    />
  </div>
{{/if}}
<ContentPane
  @aside={{help}}
>
  <McWrapper
    @heading="Supplier orders"
    @role="Add order"
    @hasAction={{false}}
    @actionName={{title}}
    @perform={{action "perform" }}
  >
  <div class=" inline-wrapper small caption faint"> Showing {{model.length}} supplier order(s) created for 
    <Forms::FilterOptions
      @didClick={{action "didInit"}}
      @didSelectItem={{action "didSelectItem"}}
      @title={{supplierTitle}}
      @type="supplier"
      @options={{suppliers}}
      @key="name"
      @isLoading={{isLoading}}
      @hasDefault={{true}}
      @default="All suppliers"
      @performDefault={{action "resetFilter"}}
    />
  </div>
  <div class="mc-divider m-b-15"></div>
  {{#each model as |order| }}
    {{#unless (get order "is_deleted")}}
      <SupplierOrderCard
        @order={{order}}
        @didSelect={{action "didSelectOrder" order}}
        @didDelete={{action "didDelete" order}}
      />
      <div class="mc-divider m-b-15"></div>
    {{/unless}}
  {{/each}}
  {{#infinity-loader 
    infinityModel=model
    hideOnInfinity=true
  }}
    <div class="ui active centered inline large loader"></div>
  {{/infinity-loader}}
  </McWrapper>
</ContentPane>

