<div class={{concat "mc-form " classNames}}>
  <div class="mc-form__header grid">
    <div class="grid columns-11__5 grid-center header-caption ui form">
      <div>
        <h3 class="">{{heading}}</h3>
      </div>
      <div class="action">
        {{#if hasAction}}
          <button class="ui large default fluid button ellipse" {{action "perform" }}>
            {{svg-jar "add-button-inside-black-circle" width="15px" height="15px"}}
            {{actionName}}
          </button>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mc-form__body">
    <div class="ui form">
      {{yield}}
    </div>
  </div>
</div>